<section class="about section">
    <h2 class="section__title">Acerca de mí</h2>
    <div class="about__container containerPersonal grid">
        <img src="assets/img/about.jpg" alt="" class="about__img">
        <div class="about__data">
            <p class="about__description">
                Desarrollador web con experiencia Backend y Frontend en tecnologías como Angular y Python.
                Interesado en aprender nuevas tecnologías con autonomía y dedicación.
            </p>
            <div class="about__info">
                <div>
                    <span class="about__info-title">8+</span>
                    <span class="about__info-name">Meses <br> Experiencia</span>
                </div>
                <div>
                    <span class="about__info-title">4+</span>
                    <span class="about__info-name">Proyectos <br> En Proceso</span>
                </div>
                <div>
                    <span class="about__info-title">1</span>
                    <span class="about__info-name">Proyectos <br> Completados</span>
                </div>


            </div>
            <div class="about__buttons">
                <a download="" href="assets/pdf/JUANHDV.pdf" class="button button--flex">
                    Descargar CV <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>