<div class="todo">
  <app-header></app-header>
  <main class="content main">
    <div #inicio id="Inicio">
      <app-inicio></app-inicio>
    </div>
    <div #about id="Acerca">
      <app-about></app-about>
    </div>

    <div #skill id="Habilidades">
      <app-skill></app-skill>
    </div>

    <div #qualification id="Experiencia">
      <app-qualification></app-qualification>
    </div>

    <div #portfolio id="Portafolio">
      <app-portfolio></app-portfolio>
    </div>
<!-- 
    <div #contact id="Contacto">
      <app-contact></app-contact>

    </div>
-->
    <button class="top" (click)="onClick(inicio)" [ngClass]="{ visible: reachedTheEnd, hidden: !reachedTheEnd }">
      <svg>
        <use href="./assets/icons/icon.svg#icon-chevron-with-circle-up"></use>
      </svg>
    </button>
    <app-footer></app-footer>
  </main>
</div>